<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulier</title>

    <!-- bootstrap -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/main.css}">

    <!-- css datatable -->
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <!-- scripts datatable-->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <scrpit src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></scrpit>


</head>
<body>
    <div th:replace="~{navigationMenu::navigation}"></div>
    <form id="content" method="post" th:action="@{/formulier}" th:object="${nieuwItem}">
        <label>Username</label>
        <input type="text" th:field="*{userName}" placeholder="Jefke Van Houtem">
        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" th:class="error"></span>
        <br>
        <label>E-mailadres</label>
        <input type="text" th:field="*{email}" placeholder="jefkevanhoutem@gmail.com">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="error"></span>
        <br>
        <label>Item</label>
        <input type="text" th:field="*{naam}" placeholder="Oorverwarmers">
        <span th:if="${#fields.hasErrors('naam')}" th:errors="*{naam}" th:class="error"></span>
        <br>
        <label>Omschrijving</label>
        <input type="text" th:field="*{omschrijving}" placeholder="Uw vriend tijdens de barre winter!">
        <span th:if="${#fields.hasErrors('omschrijving')}" th:errors="*{omschrijving}" th:class="error"></span>
        <br>
        <label>Prijs</label>
        <input type="text" th:field="*{vraagprijs}" placeholder="9.99">
        <span th:if="${#fields.hasErrors('vraagprijs')}" th:errors="*{vraagprijs}" th:class="error"></span>
        <br>
    <input type="submit">
</form>


</body>
<footer>
    <!-- speciale karakters moet je escapen met & (karakters die al door te taal gebruikt worden) -->
    &copy;Bethje 2018
</footer>
</html>